$color-white: #FFFFFF;
$color-silver: #B9BBBB;
$color-red: #FF0000;
$color-green: #019844;
$color-yellow: #ffff00;
$color-pending: #ff7600;

$color-silver-alpha-3: rgba(185, 187, 187, .30);
$color-green-alpha-3: rgba(1, 152, 68, .30);
$color-red-alpha-3: rgba(255, 0, 0, .30);
$color-yellow-alpha-3: rgba(255, 255, 0, .30);
$color-pending-alpha-3: rgba(255, 118, 0, .30);
